<!DOCTYPE html>
<title>Friendified</title>
<link href="style.css" rel="stylesheet">
<script src="form-validation.js" defer></script>
<div class="top">
    <h1>Friendified!</h1>
</div>
<div class="menu">
    <ul>
        <li><a class="<%= view.match('home') ? 'current' : 'other' %>" href="home">Home</a></li>
        <li><a class="<%= view.match('friend_list') ? 'current' : 'other' %>" href="friend_list">Friends</a></li>
        <li><a class="<%= view.match('posts_me') ? 'current' : 'other' %>" href="posts_me">Just Your Messages</a></li>
        
        <% if (user && (user.role === 'moderator' || user.role === 'admin')) { %>
            <li><a class="<%= view.match('manage_users') ? 'current' : 'other' %>" href="manage-users">Manage Users</a></li>
        <% } %>

        <% if (user && user.role === 'admin') { %>
            <li><a class="<%= view.match('admin') ? 'current' : 'other' %>" href="admin">Admin Logs</a></li>
        <% } %>

        <li><a class="<%= view.match('change_password') ? 'current' : 'other' %>" href="change-password">Change Password</a></li>
        <li><a class="<%= view.match('logout') ? 'current' : 'other' %>" href="logout">Logout</a></li>
    </ul>
</div>
